<h2>CONTACTS LIST</h2>
<p class="section_gap"></p>
<% if @contacts.size > 0 %>
<%= render :partial => "show_search_results", :locals =>  { :target => @contacts }%>
<% else %>
<p> No data found ... </p>
<% end %>
