<h2>CONTACTS SHOW</h2>

<div id="contact_list_details">
  <%= render :partial => "show_contact_details", :locals =>  { :target => @contact }%>
</div>
<%= link_to "Back", session[:last_page] %> | <%= link_to "Contact List", :action => "index" %>