.section_gap {
    padding: 10px;
}

.contact_form_field {
    padding: 0px 5px 10px 5px;
}

.contact_form_field label {
    display: block;
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 15px;
}

._fields {
    padding: 0px 5px 10px 5px;
}


._fields label {
    display: block;
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 15px;
}

.new_contact input {
    clear: left;
    width: auto;
    margin: 5px 0px 0px 0px;
}

.new_contact input[type='submit'] {
    width: auto;
    margin-left: 165px;
    padding: 5px;
    font-size: 12px;
}

.new_contact input[type='radio'] {
    width: auto;
}


.field_with_errors {
    display: inline;
}

/* start style for index contact list */

#contact_list {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border: cornflowerblue solid 1px;
    color: white;
    width: 60%;
}

#contact_list th {
    background: cornflowerblue;
    text-align: left;
    font-family: inherit;
    font-size: 90%;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 70px;
}


#contact_list th a {
    color: white;
}

#contact_list a{
    color: cornflowerblue;
}


.contact_data {
    background: aliceblue;
    border: cornflowerblue solid 1px;
    min-height: 70px;
    color: cornflowerblue;
}

.contact_data p {
    padding: 3px;
}

.contact_name {
    width: 50%;
    vertical-align: middle;
}

.contact_phones {
    width: 40%;
    vertical-align: middle;
}

.contact_admin {
    width: 10%;
    padding-left: 5px;
    vertical-align: middle;
}

.contact_admin a {
    padding-left: 5px;
}
/* end style for index contact list */


/* start style for show contact details */
#contact_list_details {
    text-align: left;
    vertical-align: central;
}

.contact_data_details {
    height: 60px;
    border-color: #000000;
    background: aliceblue;
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

.contact_name_details {
    float: left;
    width: 250px;
    height: 50px;
}

.contact_phones_details {
    display: block;
    float: left;
    clear: right;
    width: 200px;
    height: 40px;
}

.contact_admin_details {
    height: 40px;
}

/* end style for show contact details */


/* start pagination style */
.kaminari_paginate {
    margin-top:5px;
    margin-bottom:5px;
}

.pagination a {
    color: cornflowerblue;
}

/* end pagination style */
