#flash_notice {
    padding: 4px;
    margin: 0px;
    background: #B9E3A9 ;
    border: #B9E3A9 solid 2px;
}

#flash_alert {
    padding: 4px;
    margin: 0px;
    background: red;
}

#flash_messages {
    margin-top: 0px;
    color: #000000;
    padding: 0px;
    text-align: center;
    min-height: 29px;
}


#errorExplanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation ul li {
    font-size: 14px;
    list-style: square;
}
